@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-link-button';
@import 'index.css';

.balloon-example {
  display: table-cell;
  box-sizing: border-box;
  width: 20%;
  height: 70px;
  padding: 20px;
  color: #fff;
  background-color: var(--color-kiev);
}

.balloon-link {
  padding: 10px;
  color: #fff;
  white-space: nowrap;
  background-color: #3e51b5;
  border: solid #fff 1px;
}

.balloon-content {
  width: 300px;
  color: #000;
}

.component-panel {
  overflow: hidden;
}

@media (width <= 800px) {
  .no-mobile {
    display: none;
  }
  .balloon-example {
    display: inline-block;
    width: 100%;
  }
}

.right {
  text-align: right;
}

.custom-classname--not-visible .content {
  display: none;
}
