@import '@economist/component-palette';
@import '@economist/component-grid';

:root {
  --balloon-triangle-size: 6px;
}

.balloon {
  display: inline;
  position: relative;
  font-size: 1rem;
}

.navigation__main-navigation--desktop .balloon-content:focus {
  outline: none;
}

.balloon-content {
  box-sizing: border-box;
  position: absolute;
  padding: var(--subscribe-message__padding-h, 2em) var(--subscribe-message__padding-v, var(--grid-gutter-s));
  background: var(--balloon-content__background, var(--color-berlin));
  z-index: 1;
}

.balloon--position-bottom .balloon-content {
  top: 100%;
}

.balloon--position-top .balloon-content {
  bottom: 100%;
}

/* stylelint-disable no-indistinguishable-colors */
/* It's just a drop shadow */

.balloon--shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

/* stylelint-enable no-indistinguishable-colors */

.balloon--not-visible .balloon__link::after {
  display: none;
}

.balloon--visible .balloon__link::after {
  display: block;
}

.balloon--not-visible .balloon-content {
  visibility: hidden;
}

.balloon--visible .balloon-content {
  visibility: visible;
}

.balloon--position-bottom .balloon__triangle {
  bottom: 0;
}

.balloon--position-top .balloon__triangle {
  top: 0;
  transform: rotate(180deg);
}

.balloon__triangle {
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -var(--balloon-triangle-size);
  border-color: transparent transparent  var(--balloon-triangle-background, var(--color-berlin)) transparent;
  border-style: solid;
  border-width: 0 var(--balloon-triangle-size) var(--balloon-triangle-size) var(--balloon-triangle-size);
  z-index: 2;
}
